.container {
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 500px;
}

.lh-condensed {
  line-height: 1.25;
}

.btn-space {
  margin-right: 5px;
}

table {
  border: none;
  margin: 0px;
  padding: 0px;
}

.right {
  text-align: right;
  margin-right: 1em;
}
.center {
  text-align: center;
  margin-right: 1em;
}

ul {
  margin: 0 0 0 20px;
  padding: 0;
}