<button (click)="goHome()">Home</button>

course name:<input [(ngModel)]="this.nameTerm" id="name-term">
<button (click)="searchByName()">search</button>

course code:<input [(ngModel)]="this.codeTerm" id="pw-input">
<button (click)="searchByCode()">search</button>


<div *ngIf="searchedCourse">
  <li *ngFor="let course of searchedCourse; let index = index;">
    {{course.name}} <input type="checkbox" [(ngModel)]="searchedCourseSelected[index]" (change)="this.toggle(course)">
  </li>
</div>

<div *ngIf="selectedCourse">
  <li *ngFor="let course of selectedCourse">
    {{course.name}}
  </li>
</div>
