<!DOCTYPE html>
<html lang="en">
  <body class="bg-light scroll-safe">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../newsfeed">Notice Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../newsfeed">Newsfeed <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../submit_time_table">Timetable <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="d-flex">
      <div class="container">
        <h2>Submit your timetable</h2>
        <br />

        <div>
          <label for="inputCourseName">Course name</label>
          <div class="d-flex">
            <input [(ngModel)]="this.nameTerm" type="text" id="inputCourseName" class="form-control" />
            <button class="btn btn-primary" (click)="searchByName()">Search</button>
          </div>
        </div>
        <br />

        <div>
          <label for="inputCourseCode">Course code</label>
          <div class="d-flex">
            <input [(ngModel)]="this.codeTerm" type="text" id="inputCourseCode" class="form-control" />
            <button class="btn btn-primary" (click)="searchByCode()">Search</button>
          </div>
        </div>
        <br />

        <div *ngIf="searchedCourse">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let course of searchedCourse; let index = index">
              <input
                type="checkbox"
                [(ngModel)]="searchedCourseSelected[index]"
                (change)="this.toggleOnSearchedList(course)"
              />
              {{ course.name }} {{ course.code }}
            </li>
          </ul>
        </div>
        <br />

        <div class="d-flex flex-row-reverse">
          <button class="btn btn-success" (click)="submit()">Submit</button>
          <button class="btn btn-secondary btn-space" (click)="skip()">Skip</button>
          <button class="btn btn-secondary btn-space" (click)="goHome()">Home</button>
        </div>
      </div>

      <div class="container">
        <div class="btn-group">
          <button class="btn btn-info btn-space" (click)="chooseListView()">List</button>
          <button class="btn btn-info" (click)="chooseTableView()">Table</button>
          <button class="btn btn-info" (click)="toggleDeleteButton()">Edit</button>
        </div>
        <br /><br />

        <div *ngIf="selectedCourse">
          <div *ngIf="viewAsList">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let course of selectedCourse">
                {{ course.name }} {{ course.code }}
                <div *ngIf="removeActivated"><button (click)="removeCourse(course)">X</button></div>
              </li>
            </ul>
          </div>

          <div *ngIf="!viewAsList">Mon Tue Wed Thu Fri</div>
        </div>
      </div>
    </div>
  </body>
</html>
