<!DOCTYPE html>
<html lang="en">
  <body class="scroll-safe">
    <nav class="navbar navbar-expand fixed-top navbar-dark shadow bg-dark">
      <a class="navbar-brand" href="../newsfeed">Notice Tracker</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../newsfeed">Newsfeed <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../submit_time_table">Timetable <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../site_recommendation">SiteList <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="signOut()">Log out</a></li>
      </ul>
    </nav>
    <div class="container container-center">
      <h2>Site Recommendation</h2>
      <br />
      <div *ngIf="this.initialized">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let course of courses; let index = index">
            <div class="d-flex flex-row justify-content-between">
              {{ course.name }} <button class="btn btn-info btn-sm" (click)="toggleExpand(course)">expand</button>
            </div>
            <div *ngIf="expanded[index]">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let site of course.siteList">
                  <strong>{{ site.name }}</strong><br>
                  <a href="site.url">{{ site.url }}</a>
                </li>
              </ul>
              Name: <input [(ngModel)]="siteName[index]" /> <br/>
              URL:  <input [(ngModel)]="siteUrl[index]" /> <button (click)="addUrl(course)">Add</button>
            </div>
          </li>
        </ul>
      </div>
      <br />
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" (click)="confirm()">Confirm</button>
      </div>
    </div>
  </body>
</html>
