body {
  padding-top: 70px;
}

.scroll-safe {
  overflow-y: scroll;
}

.container-center {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 500px;
}

.lh-condensed {
  line-height: 1.25;
}

.btn-space {
  margin-right: 5px;
}
