<!DOCTYPE html>
<html lang="en">
  <body class="bg-light scroll-safe">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../newsfeed">Notice Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../newsfeed">Newsfeed <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../submit_time_table">Timetable <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h2>Site Recommendation</h2>
      <br />
      <div *ngIf="this.initialized">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let course of courses; let index = index">
            <div class="d-flex flex-row justify-content-between">
              {{ course.name }} <button class="btn btn-info btn-sm" (click)="toggleExpand(course)">expand</button>
            </div>
            <div *ngIf="expanded[index]">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let site of course.sites">
                  <a href="{{ site.url }}">{{ site.name }}</a>
                </li>
              </ul>
              <input [(ngModel)]="urlToAdd[index]" /><button (click)="addUrl(course)">+</button>
            </div>
          </li>
        </ul>
      </div>
      <br />
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" (click)="confirm()">Confirm</button>
        <button class="btn btn-secondary btn-space" (click)="back()">Back</button>
        <button class="btn btn-secondary btn-space" (click)="goHome()">Home</button>
      </div>
    </div>
  </body>
</html>
