<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Log In</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-light scroll-safe">
    <div class="container">
      <h2>Site Recommendation</h2>
      <br />
      <div *ngIf="this.initialized">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let course of courses; let index = index">
            <div class="d-flex flex-row justify-content-between">
              {{ course.name }} <button class="btn btn-info btn-sm" (click)="toggleExpand(course)">expand</button>
            </div>
            <div *ngIf="expanded[index]">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let site of course.sites">
                  <a href="{{ site.url }}">{{ site.name }}</a>
                </li>
              </ul>
              <input [(ngModel)]="urlToAdd[index]" /><button (click)="addUrl(course)">+</button>
            </div>
          </li>
        </ul>
      </div>
      <br />
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" (click)="confirm()">Confirm</button>
        <button class="btn btn-secondary btn-space" (click)="back()">Back</button>
        <button class="btn btn-secondary btn-space" (click)="goHome()">Home</button>
      </div>
    </div>
  </body>
</html>
