<!DOCTYPE html>
<html lang="en">
  <body class="scroll-safe">
    <nav class="navbar navbar-expand fixed-top navbar-dark shadow bg-dark">
      <a class="navbar-brand" href="../newsfeed">Notice Tracker</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../newsfeed">Newsfeed <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../submit_time_table">Timetable <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../site_recommendation">SiteList <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="signOut()">Log out</a></li>
      </ul>
    </nav>
    <div class="container container-center">
      <div *ngFor="let article of newsfeed; let index = index">
        <span *ngIf="!article.ignore">
          <div
            [ngClass]="{ 'border-primary': article.star, 'bg-light': !article.star }"
            class="card mb-3"
            style="max-width: 40rem;"
          >
            <div class="card-header">{{ article.course.name }}</div>
            <div [ngClass]="{ 'text-primary': article.star }" class="card-body">
              {{ article.updated }} <br />
              {{ article.content }} <br />
              <a href="{{ article.url }}">{{ article.url }}</a>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary btn-space" (click)="toggleStar(article)">Star</button>
                <button class="btn btn-primary btn-space" (click)="setIgnore(article)">Ignore</button>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </body>
</html>
