<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
</head>

<body class="bg-light">
    <div class="container">
        <h2>Newsfeed</h2>
        <br /><br />
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-success" (click)="signOut()">Log out</button>
            <button class="btn btn-secondary btn-space" (click)="submitTimeTable()">Edit Timetable</button>
            <button class="btn btn-secondary btn-space" (click)="siteRecommendation()">Edit Site List</button>
        </div>
        <br />
        <div *ngFor="let article of newsfeed; let index = index">
            <span *ngIf="!article.ignore">
                <div class="card bg-light mb-3" style="max-width: 40rem;">
                    <div class="card-header">{{ article.course.name }}</div>
                    <div class="card-body">
                        <a href="{{article.url}}">{{ article.url }}</a>
                        <div class="d-flex flex-row-reverse">
                            <button class="btn btn-primary btn-space" (click)="toggleStar(article)">Star</button>
                            <button class="btn btn-primary btn-space" (click)="setIgnore(article)">Ignore</button>
                        </div>
                        <span *ngIf="article.star">★</span>
                    </div>
                </div>
            </span>
        </div>
    </div>
</body>

</html>