<!DOCTYPE html>
<html lang="en">
  <header ng-include="'/header.html'"></header>

  <body class="bg-light scroll-safe">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../newsfeed">Notice Tracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../newsfeed">Newsfeed <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <h2>Newsfeed</h2>
      <br /><br />
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-success" (click)="signOut()">Log out</button>
        <button class="btn btn-secondary btn-space" (click)="submitTimeTable()">Edit Timetable</button>
        <button class="btn btn-secondary btn-space" (click)="siteRecommendation()">Edit Site List</button>
      </div>
      <br />
      <div *ngFor="let article of newsfeed; let index = index">
        <span *ngIf="!article.ignore">
          <div
            [ngClass]="{ 'border-primary': article.star, 'bg-light': !article.star }"
            class="card mb-3"
            style="max-width: 40rem;"
          >
            <div class="card-header">{{ article.course.name }}</div>
            <div [ngClass]="{ 'text-primary': article.star }" class="card-body">
              <a href="{{ article.url }}">{{ article.url }}</a>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary btn-space" (click)="toggleStar(article)">Star</button>
                <button class="btn btn-primary btn-space" (click)="setIgnore(article)">Ignore</button>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </body>
</html>
