<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
ID: <input [(ngModel)]="this.id" id="id"> Password: <input type="password" [(ngModel)]="this.password" id="password">

<button id="signin-button" (click)="signIn()">Sign in</button>
<button id="signup-button" (click)="signUp()">Sign up</button>

<div *ngIf=this.errorMessage>{{this.errorMessage}}</div>
